{% extends 'layout.html' %}

{% block title %}
	Rimas e Dicas
{% endblock %}


{% block body %}
	 <div class="row">
		<form action="/words" method="get">
			<div class="form-group">
				<label for="tipo">Tipo</label>
				<select id="tipo" name="tipo" class="form-control">
					<option disabled selected value>-- select --</option>
					<option value="1">início</option>
					<option value="2">meio</option>
					<option value="3">fim</option>
				</select>
			</div>
				
			<div class="form-group">
				<label for="texto">Letras</label>
				<input id="texto" name="texto" type="text" class="form-control" placeholder="Letras">
			</div>
			<div class="form-group">
			    <div class="">
			      <button id="search-button" type="submit" class="btn btn-primary btn-block" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Aguardar">
			      	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			      	&nbsp;
			      	<span>Procurar</span>
			      </button>
			    </div>
  			</div>
		</form>
	 </div>
{% endblock %}