<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          </a>
          <a class="navbar-brand" href="#">Rimas e Dicas</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid main">
        {% block body %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $('#search-button').on('click', function() {
            var $this = $(this);
            $this.button('loading');

            setTimeout(function() {
                $this.button('reset');
            }, 8000);
        });
    </script>
</body>
</html>