{% extends 'layout.html' %}

{% block title %}
	Rimas e Dicas
{% endblock %}


{% block body %}
	<div class="row">
		<div class="list-group">
			{% for word in words %}
	  		<a href="http://www.priberam.pt/dlpo/{{word.text}}" class="list-group-item list-group-item-action">
	  			<strong>{{ word.text }}</strong>
	  			<span class="glyphicon glyphicon-question-sign pull-right" aria-hidden="true">&nbsp;</span>
  			</a>
	  		{% endfor %}
		</div>
	</div>
	<div class="row">
	<nav aria-label="...">
	  <ul class="pager">
	    <li class="previous">
	    	<a href="#">
	    		<span aria-hidden="true">&larr;</span>
	    		Anteriores
	    	</a>
	    </li>
	    <li class="next">
	    	<a href="#">
		    	Seguintes
		    	<span aria-hidden="true">&rarr;</span>
	    	</a>
	    </li>
	  </ul>
	</nav>
	</div>
{% endblock %}